{{#primary_author}}
  <div class="author">
    <div class="author__header">
      <h2>作者簡介</h2>
      <div></div>
    </div>
    <div class="author__content">
      <div class="author__content__avatar">
        <div class="author__content__avatar__container">
          {{#if profile_image}}
            <img src="{{img_url profile_image size="xs"}}" alt="{{name}}" loading="lazy">
          {{else}}
            <div>{{> "icons/avatar"}}</div>
          {{/if}}
        </div>
      </div>
      <div class="author__content__info">
        <h2><span>{{name}}</span></h2>
        <p>{{bio}}</p>
        <div class="author__content__info__meta">
          <ul></ul>
          <div class="author__content__info__meta__page">
            <a href="{{url}}" title="查看 {{name}} 的所有文章" class="author__content__info__meta__page__link">
            <span class="author__content__info__meta__page__link__text--outer">
              <span class="author__content__info__meta__page__link__text--inner">
                <span class="author__content__info__meta__page__link__text__label">查看 {{name}} 的所有文章</span>
                <span class="author__content__info__meta__page__link__text__icon">
                  <span class="author__content__info__meta__page__link__text__icon--inner">
                    <span class="author__content__info__meta__page__link__text__icon__part author__content__info__meta__page__link__text__icon__part--left">
                      {{> "icons/chevron-right" fill="#3DA39E" }}
                    </span>
                    <span class="author__content__info__meta__page__link__text__icon__part author__content__info__meta__page__link__text__icon__part--right">
                      {{> "icons/chevron-right" fill="#BDBDBD" }}
                    </span>
                  </span>
                </span>
              </span>
            </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/primary_author}}
