{{!< default}}

{{#tag}}
  <h2>{{name}}</h2>
  <input type="hidden" id="current-tag-name" value="{{slug}}">
  {{#get "posts" filter="tag:{{slug}}" include="tags" limit="all" as |posts|}}
    {{#foreach posts}}
      {{#foreach tags}}
        <a href="{{url}}" class="tag-item" data-slug="{{slug}}">{{name}}</a>
      {{/foreach}}
    {{/foreach}}
  {{/get}}
{{/tag}}
{{> "archives" }}
