{{!< default}}

{{#post}}
  <div class="content-area">
    <div class="post-container">
      <main class="post-container__main">
        <div class="post-container__main__inner">
          <article class="{{post_class}}{{#unless feature_image}} no-image{{/unless}} single-post">

            <header class="single_post__header">
              <div class="single_post__header__meta">
                {{#primary_tag}}
                  <div class="single_post__header__meta__topic">
                    <a class="single_post__header__meta__topic__link"
                       href="{{url}}"
                       title="{{name}}">
                      <div class="single_post__header__meta__topic__link__tag">
                        <span>{{name}}</span>
                      </div>
                    </a>
                  </div>
                {{/primary_tag}}
                <div class="single_post__header__meta__date">
                  <p>
                    <span>發佈</span>
                    <span>：</span>
                    <time datetime="{{date format="YYYY-MM-DD"}}">{{date published_at format="YYYY/MM/DD"}}</time>
                  </p>
                </div>
              </div>
              <div class="single_post__header__title">
                <div class="single_post__header__title__inner">
                  <h1><span>{{title}}</span></h1>
                </div>
              </div>
              {{#has tag="count:>1"}}
                <div class="single_post__header__tags">
                  <div><!-- space --></div>
                  <ul class="single_post__header__tags__list">
                    {{#foreach tags}}
                      {{#match name "!=" ../primary_tag.name}}
                        <li class="single_post__header__tags__list__item">
                          <a href="{{url}}" title="{{name}}">
                            # <span>{{name}}</span>
                          </a>
                        </li>
                      {{/match}}
                    {{/foreach}}
                  </ul>
                </div>
              {{/has}}
            </header>
            <div class="single_post__hero">
              <div class="single_post__hero__image">
                {{> "post-image"}}
              </div>
              <div class="single_post__hero__excerpt">
                {{#if excerpt}}
                  <p>{{excerpt}}</p>
                {{else}}
                  <p>{{content words="50" strip_html=true}}</p>
                {{/if}}
              </div>
              <nav class="single_post__hero__toc--container">
                <p>
                  <span class="single_post__hero__toc__label">
                    <span>I</span><span>ndex</span>
                  </span>
                  <span class="single_post__hero__toc__caption">目錄</span>
                </p>
                <div class="single_post__hero__toc"></div>
              </nav>
            </div>

            <div class="gh-content gh-canvas single_post__content">
              {{content}}
            </div>

            {{#if @custom.show_author}}
              {{#primary_author}}
                <div class="author_wrapper">
                  {{> "author-box"}}
                </div>
              {{/primary_author}}
            {{/if}}

          </article>
          <footer class="single_post__footer">
            {{#prev_post in="primary_tag"}}
              {{> "post-navigation"}}
            {{else}}
              {{#next_post in="primary_tag"}}
                {{> "post-navigation"}}
              {{/next_post}}
            {{/prev_post}}
          </footer>

          {{#if comments}}
            <section class="gh-comments gh-canvas">
              <h3 class="related-title">Comments ({{comment_count empty="0" singular="" plural=""}})</h3>
              {{comments title="" count=false}}
            </section>
          {{/if}}
        </div>
      </main>
      {{#if @custom.show_related_posts}}
        {{> "related"}}
      {{/if}}
    </div>
  </div>
{{/post}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.32.2/tocbot.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    tocbot.init({
      tocSelector: '.single_post__hero__toc',
      contentSelector: '.single_post__content',
      headingSelector: 'h2, h3, h4',
      hasInnerContainers: true,
      scrollSmoothOffset: 50,
      scrollSmoothDuration: 300,
      listClass: 'single_post__hero__toc__list',
      listItemClass: 'single_post__hero__toc__list__item',
    });
  });
</script>